$BackColor:#141f2c;
$colorB:#c2a87c;
$colorA:#f7dbab;

body{
    background-color: $BackColor;
    color: $colorA;
}

p{
    font-size: 20px;
    color: $colorB;
}

#Banner{
  
    padding-top:5rem;
    padding-bottom: 5rem;
 

    
    .infobaner{
        padding-top: 15px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        h1{
            text-align: center;
            color: $colorA;
            padding: 19px;
            font-size: 40px;
            font-weight:600;
        }
        P{
            color: $colorA;
            text-align: center;
            
        }
    }
}

#about{
    .infoabout{
        padding-top: 5rem;
        padding-top: 3.5rem;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;

        h3{
            color: $colorA;
            text-align: center;
        }
        p{
            color: $colorB;
            text-align: center;
        }
    }

    .infocards{
        
        h3{
            text-align: center;
        }
        .card-body{
            background-color: #fef2dc;
        }
        .cat{
            padding-top: 25px;
            padding-top: 30px;
            p{
                text-align: justify;
            }
        }

        .cardi{
            padding-bottom: 50px;
            h5{
                color: $BackColor;
                text-align: center;
            }
            p{
                text-align: justify;
            }
        }
        
    }
}

#adopcion{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

#sponsored{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; 
    h3{
        text-align: center;
        
        padding-bottom: 3.5rem;
    }
    
    background-color: #141f2c;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #141f2c 40px ), repeating-linear-gradient( #00000055, #000000 );
}